@charset "UTF-8";

/* 네비게이터 출력용 */
    .calendar {
        margin: auto;
        text-align: center;
    }
    .calendar a{
        text-decoration: none;
        color: black;
    }
    .navigation{
        
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 71px;
        
    }    
    div.navigation a{
        color: #797979;
        vertical-align: middle;
        text-decoration: none;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    }
#img_today{
	position: relative;
	left: 480px;
	z-index: 1;
	width:60px;
    height:60px;
}
/*     div.date:nth-child(4) {
     a.today {
        display: inline-block;
        margin: 0px 20px 0px 20px;
        width:58.4px;
        height:58.4px;
        border: 1px solid rgba(86,140,8,0.5);
        border-radius: 50%;
        background-color: rgba(130, 201, 18, 0.5);
    } */
    .date{
    	width:60px;
        height:60px;
    	margin-top: 23px;
    	padding: 0px 20px 0px 20px;
    	
    	position: relative;
    	z-index: 2;
    }
#weekDia{
	width:15px;
    height:15px;
}    
    
    .dia1{
    	color: #5c940d;
    	margin-top: -3px;
    }
   .dia2 {
   	visibility: hidden;
   }
   .vars {
   		display: flex;
   		flex-direction: column;
   		justify-content: center;
   }

/* 목표바 출력용 */
div.target{
	width: 750px;
	margin: auto;
	position: relative
}
div.target img{
height: 100px;
width: 784px;
position: absolute;
}
div.target table {
margin: 0px;
padding: 0px;
width: 834px;
transform: translate( 0%, 0% );
text-align: center;
}
div.target td{
height: 42px;
width: 210px;
color: #39464e;
vertical-align: bottom;	
}
div.target td.dday{
height: 50px;
width: 200px;
	color: #5c940d;
	text-shadow: 1px 1px #82c912;
	font-weight: bold;
	font-size: 25px;
	vertical-align: middle;	
}